.DS_Store
.idea
*.log
tmp/

node_modules

*.dir-locals.el

.clj-kondo/
.cpcache/
.lsp/
.nrepl-port
.shadow-cljs/

*.glb
*.stl
*.3ds

target/
public/wasm/
public/js/
public/fixtures/
public/try-it/js/
public/try-it/worker/
public/maria/js/
data/maria-datahike/
data/maria-documents/
public/journal/js/
public/journal/worker/
data/journal/
